<a href="https://colab.research.google.com/github/gichurejoy/Machine-Learning/blob/main/knn%2Ckmeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
path ='drug200 2.csv'

In [24]:
import pandas as pd

data = pd.read_csv(path)
data.head(3)

   Age Sex    BP Cholesterol  Na_to_K   Drug
0   23   F  HIGH        HIGH   25.355  drugY
1   47   M   LOW        HIGH   13.093  drugC
2   47   M   LOW        HIGH   10.114  drugC

In [29]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

data['Sex']=le.fit_transform(data['Sex'])
data['BP']=le.fit_transform(data['BP'])
data['Cholesterol']=le.fit_transform(data['Cholesterol'])

data.sample(5)

     Age  Sex  BP  Cholesterol  Na_to_K   Drug
185   57    0   2            1   25.893  drugY
173   41    0   1            1   18.739  drugY
36    32    1   0            1    9.445  drugA
67    17    1   2            1   10.832  drugX
35    46    1   2            1    7.285  drugX

In [31]:
data=data.sample(frac=1).reset_index(drop=True)
data

     Age  Sex  BP  Cholesterol  Na_to_K   Drug
0     65    0   1            1   13.769  drugX
1     52    1   2            0    9.894  drugX
2     58    1   0            0   18.991  drugY
3     40    0   2            0   10.103  drugX
4     51    0   2            0   13.597  drugX
..   ...  ...  ..          ...      ...    ...
195   39    1   0            0    9.664  drugA
196   58    0   0            1   14.239  drugB
197   50    0   2            0   12.703  drugX
198   24    1   2            0   25.786  drugY
199   48    0   1            0   15.036  drugY

[200 rows x 6 columns]

In [32]:
from sklearn.neighbors import KNeighborsClassifier
knn_clf=KNeighborsClassifier(n_neighbors=3)

In [36]:
from sklearn.model_selection import train_test_split
train,test=train_test_split(data,test_size=0.5)

train_x=train.drop('Drug', axis=1)
train_y=train['Drug']

test_x=test.drop('Drug', axis=1)
test_y=test['Drug']

In [37]:
knn_clf.fit(train_x,train_y)
predictions=knn_clf.predict(test_x)

from sklearn.metrics import accuracy_score
print(accuracy_score(test_y,predictions))

0.61

#K means#

In [38]:
data['Drug'].value_counts()

drugY    91
drugX    54
drugA    23
drugB    16
drugC    16
Name: Drug, dtype: int64

In [39]:
del data['Drug']
data.head(1)

   Age  Sex  BP  Cholesterol  Na_to_K
0   65    0   1            1   13.769

In [40]:
from sklearn.cluster import KMeans
kmeans_object=KMeans(n_clusters=5)
kmeans_object.fit(data)
print(kmeans_object.cluster_centers_)

[[57.14285714  0.47619048  0.85714286  0.52380952 27.34742857]
 [23.92307692  0.48717949  0.97435897  0.46153846 12.0735641 ]
 [43.609375    0.5625      1.          0.546875   13.07959375]
 [64.91836735  0.59183673  0.95918367  0.3877551  12.93640816]
 [28.07407407  0.37037037  0.55555556  0.51851852 25.95385185]]

In [41]:
data['new cluster']=kmeans_object.labels_
data.head(5)

   Age  Sex  BP  Cholesterol  Na_to_K  new cluster
0   65    0   1            1   13.769            3
1   52    1   2            0    9.894            2
2   58    1   0            0   18.991            0
3   40    0   2            0   10.103            2
4   51    0   2            0   13.597            2